
.inp{
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #dadce0;
    font-size: 14px;
    padding: 6px 8px;
    height: 21px;
    width: 200px;
    outline: none;
}
.p{
    padding: 7px;
    margin-bottom: 23px;
    margin-top: 23px;
    border: 1px solid #dadce0;
    border-radius: 5px 0px 0px 5px;
    height: 20px;
    width: 305px;
}
.letters{
    margin-left: 20px;
    color: rgb(167, 149, 126);
}



.parent_container{
    display: flex;
    flex-direction: column;
    border: 1px solid #dadce0;
    border-radius: 8px;
    background-color: cornflowerblue;
    padding: 48px 40px 36px;
}

.n{
    color: black;
    width: 60px;
    padding: 5px;
    background-color: rgb(136, 136, 224);
    border: 1px solid;
}

.fl{
    display: flex;
    align-items: center;
}
.error{
    display: flex;
    gap: 132px;
    color: #a70404;
}
.emal{
    color: #a70404;
}